* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: border-box;
}

.nav-container {
    width: auto;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 100px;
    height: 80px;
    background-color: transparent;
    margin-left: 50px;
}

.logo {
    width: 80px;
    height: 80px;
    background-size: cover;
}

/* Search bar */

.nav-search {
    width: 300px;
    height:80px;
    background-color: yellow;
    margin-left: 150px;
    align-items: center;
    display: flex;
}

.input-search {
    width: 250px;
    height: 40px;
    background-color: #C4E1F6;
    border: 2px solid orange;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    border-right: none;
}

.search-button {
    width: 60px;
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #C4E1F6;
    border: 2px solid orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}

/* Profile-Cart-Menu section*/
.nav-menu {
    width: 600px;
    height:80px;
    background-color:rgb(162, 139, 139);
    margin-left: auto;
    
}

.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav-ul li {
    margin-inline: auto;
    list-style: none;
    margin-top: 20px;
}

.nav-ul li a {
    color: orangered;
    font-size: 1.5rem;
    text-decoration: none;
}
